body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: black;
    color:greenyellow;
    padding: 30px 0;
}

header h1 {
    margin: 0;
    color: aqua;
}

header p {
    margin: 100px 0;
    font-size: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: rgb(14, 185, 28);
}

.pic {
    height: 500px;
}

main {
    background-color: pink;
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
   
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }
}